#Permet de builder le front en le back

services:
  backend:
    build: ./backend
    container_name: fastia-backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: fastia-frontend
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    ports:
      - "8501:8501"
