name: Publish backend image to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUBTOKEN }} # <-- access token ici

      - name: Build and push (backend)
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/fastia-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/fastia-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
